<form class="comment" method="POST" action="https://{{ .Site.Params.staticman.domain }}/v{{ .Site.Params.staticman.api_version }}/entry/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments" class="flex-container flex-column">
  <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
  <input type="hidden" name="options[slug]" value="{{ .Page.File.ContentBaseName }}">
  <div class="flex-container flex-row">
    <input name="fields[name]" type="text" placeholder="Your name" class="flex-item">
    <input name="fields[email]" type="email" placeholder="Your email address" class="flex-item">
  </div>
  <div class="flex-container flex-row">
    <textarea name="fields[message]" placeholder="Your message. Feel free to use Markdown." rows="10" class="flex-item"></textarea>
  </div>
  <div class="flex-container flex-row">
    <input type="submit" value="Submit" class="flex-item">
  </div>
</form>
