<div class="social-links-header">

  {{with .Site.Params.email}}
  <a href="mailto:{{.}}"><div class="social-link"><i class="fas fa-envelope"></i></div></a>
  {{end}}

  {{with .Site.Params.github}}
  <a href="https://github.com/{{.}}" target="_blank"><div class="social-link"><i class="fab fa-github"></i></div></a>
  {{end}}

  {{with .Site.Params.gitlab}}
  <a href="https://gitlab.com/{{.}}" target="_blank"><div class="social-link"><i class="fab fa-gitlab"></i></div></a>
  {{end}}

  {{with .Site.Params.twitter}}
  <a href="https://twitter.com/{{.}}" target="_blank"><div class="social-link"><i class="fab fa-twitter"></i></div></a>
  {{end}}

  {{with .Site.Params.linkedin}}
  <a href="https://www.linkedin.com/in/{{.}}" target="_blank"><div class="social-link"><i class="fab fa-linkedin-in"></i></div></a>
  {{end}}

</div>
