{{ partial "header.html" . }}

<div class="err-404" >
    <h1 id="title">{{ .Title }} :(</h1>
</div>

<div class="sitemap" >
  <h2>Pages</h2>
  <ul>
  {{ range (where .Site.Pages.ByTitle ".Type" "page") }}
      <li><article itemscope itemtype="http://schema.org/Blog">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </article></li>
  {{ end }}
  </ul>

  <h2>Posts</h2>
  <ul>
  {{ range (where .Site.Pages.ByTitle ".Type" "post") }}
      <li><article itemscope itemtype="http://schema.org/Blog">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
      </article></li>
  {{ end }}
  </ul>

</div> <!-- sitemap -->
{{ partial "footer.html" . }}
